{% extends "base.html" %}

{% block content %}

<div id="res" class="alert"></div>
<div>
    <form id="test"></form>
    <span id="data">Getting started with JSON Form</span>
</div>
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/underscore.js"></script>
<script type="text/javascript" src="static/jsonform.js"></script>
<script type="text/javascript">

    var data1 = '{{data | tojson | safe}}';
    document.getElementById('data').innerHTML = data1;
    
    $('#test').jsonForm({
        schema: {
            name: {
                type: 'string',
                title: 'Name',
                required: true
            },
            age: {
                type: 'number',
                title: 'Age'
            }
        },
       
        onSubmit: function (errors, values) {
            if (errors) {
                $('#res').html('<p>I beg your pardon?</p>');
            } else {
                $('#res').html('<p>Hello ' + values.name + '.' +
                    (values.age ? '<br/>You are ' + values.age + '.' : '') +
                    '</p>');
            }
        }
    });
    </script>
          
{% endblock content %}