{% extends "base.html" %}

{% block content %}
<h1>Getting started with JSON Form</h1>
<form></form>
<div id="res" class="alert"></div>
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/underscore.js"></script>
<script type="text/javascript" src="static/jsonform.js"></script>
<script type="text/javascript">
    
    $('form').jsonForm({
        schema: {
            name: {
                type: 'string',
                title: 'Name',
                required: true
            },
            age: {
                type: 'number',
                title: 'Age'
            }
             },
             "form": ["name", "Joao"],
        onSubmit: function (errors, values) {
            if (errors) {
                $('#res').html('<p>I beg your pardon?</p>');
            } else {
                $('#res').html('<p>Hello ' + values.name + '.' +
                    (values.age ? '<br/>You are ' + values.age + '.' : '') +
                    '</p>');
            }
        }
    });
          </script>
          
{% endblock content %}