{% extends "base.html" %}

{% block content %}

<div id="res" class="alert"></div>
<div>
    <form id="test" method="post"></form>
    <span id="data"></span>
</div>
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/underscore.js"></script>
<script type="text/javascript" src="static/jsonform.js"></script>
<script type="text/javascript">

/*    var reference = {
        "command": "lease4-add",
            "service": ["dhcp4"],
                "arguments": {
            "ip-address": "172.17.0.50",
                "hw-address": "1f:1f:1c:1d:1e:1c"

        }
    }               */

    var data1 = '{{data | tojson | safe}}';
    document.getElementById('data').innerHTML = data1;

    $('#test').jsonForm({
        schema: {
            'ip-address': {
                'type': 'string',
                'title': 'IP Address'
            },
            'hw-address': {
                'type': 'string',
                'title': 'MAC Address'
            },
            
        },
        onSubmit: function (errors, values) {
            if (errors) {
                $('#res').html('<p>TODO: submit code</p>');
            } else {
            }
        }
    });
</script>

{% endblock content %}